// Navbar
mixin navbar(options)

    nav.navbar.navbar-marketing.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition)
        div(class=options.navbarContainer)
            section
                a.navbar-brand(href='index.html', class=options.navbarBrandColor)
                    | scrutiny
                a.navbar-brand-light(href='index.html', class=options.navbarBrandColor)
                    |.app
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i(data-feather='menu')
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mr-lg-5
                    li.nav-item
                        a.nav-link(href='index.html')
                            | Home 
                    li.nav-item.dropdown.dropdown-lg.no-caret
                        a#navbarDropdownDemos.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | About
                            i.fas.fa-chevron-right.dropdown-arrow
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up.mr-lg-n25.mr-xl-n15(aria-labelledby='navbarDropdownDemos')
                            .row.no-gutters
                                .col-lg-7.p-lg-5
                                    .row
                                        .col-lg-6
                                            h6.dropdown-header.text-primary About
                                            a.dropdown-item(href='page-company-about.html') About us
                                            a.dropdown-item(href='page-company-team.html') Team
                                            a.dropdown-item(href='page-company-contact.html') Contact

                    li.nav-item.dropdown.dropdown-lg.no-caret
                        a#navbarDropdownPages.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Connect
                            i.fas.fa-chevron-right.dropdown-arrow
                        .dropdown-menu.dropdown-menu-right.mr-xl-n20.mr-xl-n15.animated--fade-in-up(aria-labelledby='navbarDropdownPages')
                            .row.no-gutters
                                .col-lg-4.p-lg-5
                                    h6.dropdown-header.text-primary Blog
                                    a.dropdown-item(href='page-blog-post.html') Latest post
                                    a.dropdown-item(href='page-blog-overview.html') Blog Overview
                                    a.dropdown-item(href='page-blog-archive.html') News
                                .col-lg-4.p-lg-5
                                    h6.dropdown-header.text-primary Socials
                                    a.dropdown-item(href='page-error-400.html') Facebook
                                    a.dropdown-item(href='page-error-401.html') Twitter
                                    a.dropdown-item(href='page-error-404-1.html') Youtube
                                    a.dropdown-item(href='page-error-404-1.html') Medium


                    li.nav-item.dropdown.no-caret
                        a#navbarDropdownDocs.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Web
                            i.fas.fa-chevron-right.dropdown-arrow
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='navbarDropdownDocs')
                            a.dropdown-item.py-3(href='https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart', target='_blank')
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i(data-feather='book-open')
                                div
                                    .small.text-gray-500 Documentation
                                    | Usage instructions and reference
                            .dropdown-divider.m-0
                            a.dropdown-item.py-3(href='https://docs.startbootstrap.com/sb-ui-kit-pro/components', target='_blank')
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i(data-feather='code')
                                div
                                    .small.text-gray-500 Components
                                    | Code snippets and reference
                            .dropdown-divider.m-0
                            a.dropdown-item.py-3(href='https://docs.startbootstrap.com/sb-ui-kit-pro/changelog', target='_blank')
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i(data-feather='file-text')
                                div
                                    .small.text-gray-500 Changelog
                                    | Updates and changes
                                
                a.btn.font-weight-500.ml-lg-4(href="index.html", class=options.navbarBtnColor)
                    | Download Now
                    i.ml-2(data-feather='arrow-right')